body {
    position: relative;
    overflow-y: hidden;
    padding: 0px;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background-color: #242526;
}

.notification {
    top: 10px;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.row-search:hover {
    background-color: #5B5C5C;
}

.content-search:hover {
    background-color: #5B5C5C;
}

.content-search {
    padding: 10px 15px 10px 5px;
    margin-top: 10px;
}

#suggesstion-box {
    color: #F1FFFF;
    width: 100%;
    background-color: #242526;
    border-radius: 3px;
}

.icon-search {
    background-color: #2F3031;
    color: #373D48;
    padding: 8px;
    margin-left: 10px;
    font-size: 18px;
    border-radius: 20px;
}

#text {
    overflow-x: hidden;
    font-size: 15px;
}

.row-search {
    padding: 7px 25px 7px 15px;
    position: relative;
}

.row-search a {
    color: #F1FFFF;
    text-decoration: none;
}

.title-search {
    padding-top: 10px;
    font-size: 15px;
    color: #828282;
    font-weight: bold;
}

.image-user-search {
    border-radius: 20px;
    margin-right: 10px;
}


/* Container top */

.container-top {
    position: relative;
    top: 0px;
    width: 100%;
    height: 8vh;
    border-bottom: solid 1px #393A3B;
    box-shadow: 0px 0.5px 0px 0.5px #28292A;
}

.user {
    position: absolute;
    right: 0px;
    top: 10px;
}

.user div {
    float: left;
}

.user-container {
    margin-right: 10px;
    border-radius: 30px;
    padding: 3px;
    margin-top: 2px;
}

.user .user-image {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-image: url("../image/user.jpg");
    background-size: cover;
}

.user .user-name {
    text-transform: capitalize;
    padding-right: 5px;
    padding-left: 7px;
    line-height: 30px;
    font-size: 14px;
    color: #E4E6EB;
}

.user .icon {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: #3A3B3C;
    margin-right: 10px;
}

.user .fas {
    display: flex;
    justify-content: center;
    line-height: 40px;
    font-size: 17px;
    color: white;
}

.user .hover:hover {
    background-color: #4E4F50;
}


/* Container left */

.container-left {
    position: relative;
    width: 24.5%;
    /*380px*/
    height: 92vh;
    border-right: solid 1px #393A3B;
    box-shadow: 0px 0.5px 0px 0.5px #28292A;
}

.container-listChat .title {
    position: relative;
    color: white;
    font-family: inherit;
    font-size: 24px;
    font-weight: bold;
    text-overflow: ellipsis;
    padding: 12px 0px 12px 0px;
    margin: 0px 15px 0px 15px;
}

.container-listChat .title .icon div {
    position: absolute;
    right: 0px;
    top: 12px;
    box-sizing: 30px;
    background-attachment: #232425;
}

.container-listChat .title .icon div i {
    font-size: 20px;
}

.container-listChat .search {
    position: relative;
    margin: 0px 15px 0px 15px;
}

.container-listChat .search input {
    background-color: #3E4042;
    border: none;
    width: 100%;
    height: 36px;
    font-size: 15px;
    border-radius: 30px;
    line-height: 40px;
    padding-left: 36px;
    padding-right: 16px;
    text-align: left;
    color: white;
    outline: none;
}

.container-listChat .search i {
    color: #818790;
    position: absolute;
    top: 10px;
    left: 12px;
}

.content-bottom {
    position: relative;
}

.container-right {
    position: absolute;
    top: 0px;
    width: 75.5%;
    right: 0px;
    height: 92vh;
}

.chat {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 66%;
    height: 92vh;
    position: relative;
}

.chat .top {
    align-items: center;
    display: flex;
    color: white;
    position: absolute;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    border-bottom: 1px solid #393A3B;
}

.chat .top img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin: 13px;
}

.chat .top .nameReceiver {
    letter-spacing: 0.5px;
    font-family: inherit;
    font-weight: bold;
    font-size: 17px;
    color: #D8E6EB;
}

.chat .top .activate {
    color: #91B3B8;
    font-size: 12px;
}

.chat .top .call {
    display: flex;
    position: absolute;
    right: 0px;
}

.chat .top .call div {
    margin: 12px;
    font-size: 20px;
}

.chat .bottom {
    position: absolute;
    bottom: 5px;
    width: 100%;
    display: flex;
}

.bottom div i {
    margin: 5px 2px 5px 3px;
    border-radius: 20px;
    color: white;
    padding: 8px;
    font-size: 22px;
}

.bottom div input {
    background-color: #3A3B3C;
    outline: none;
    border-radius: 20px;
    margin: 5px 2px 5px 3px;
    padding: 8px 20px 8px 15px;
    border: none;
    color: #E4E6EB;
    width: 100%;
}

.bottom .contentSend {
    width: 100%;
}

.bottom div i:hover {
    background-color: #3A3B3C;
}

.setting {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 34%;
    height: 92vh;
    border-left: 1px solid #393A3B;
}

.setting .settingReceiver {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.setting .nameReceiver {
    padding-top: 10px;
    padding-bottom: 7px;
    letter-spacing: 0.5px;
    font-family: inherit;
    font-weight: bold;
    font-size: 17px;
    color: #D8E6EB;
}

.setting .activate {
    color: #91B3B8;
    font-size: 12px;
}

.setting .settingReceiver img {
    margin: auto;
    margin-top: 20px;
    height: 80px;
    width: 80px;
    border-radius: 40px;
}


/* ssdsdgsd */

.content-send .row .col-md-8 {
    padding-right: 0px;
    padding-left: 0px;
}

.content-send .row .col-md-8 input {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 1px;
    outline: none;
}

.content-send .row .col-md-1 {
    padding-left: 0px;
    padding-right: 0px;
}

.content-send .row .col-md-1 i {
    font-size: 25px;
    border-radius: 20px;
    padding: 7px;
    color: white;
}

.test {
    letter-spacing: 0.5px;
    color: #E4E6EB;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 11px 7px 11px 7px;
}

.test i {
    float: right;
}

.test:hover {
    background-color: #3A3B3C;
    border-radius: 5px;
}


/* aksjdaksjdn */

.addFriend {
    position: absolute;
    right: 10px;
    top: 8px;
}

.addFriend .friend {
    padding: 5px 7px 5px 7px;
    background-color: #2D88FF;
    border: none;
    color: #FFFFFF;
    border-radius: 3px;
    z-index: 1;
    outline: none;
    margin-left: 5px;
    display: none;
}

.addFriend div {
    display: none;
}

.addFriend div button {
    padding: 5px 7px 5px 7px;
    background-color: #2D88FF;
    border: none;
    color: #FFFFFF;
    border-radius: 3px;
    z-index: 1;
    outline: none;
    margin-left: 5px;
}

.content .right .message {
    background-color: #0084FF;
    color: white;
    padding: 8px;
    margin-right: 10px;
    padding-left: 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    max-width: 50%;
}

.content .right {
    display: flex;
    justify-content: flex-end;
}

.content .left img {
    height: 28px;
    width: 28px;
    border-radius: 20px;
    margin: 5px;
}

.content .left .message {
    display: flex;
    background-color: #3E4042;
    color: white;
    text-align: left;
    padding: 8px;
    margin-left: 5px;
    padding-right: 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    max-width: 50%;
}

.content .left {
    display: flex;
}

.mid {
    height: 80%;
    overflow-y: scroll;
    margin-top: 5px;
    margin-bottom: 10px;
}


/* position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); */