body {
    position: relative;
    overflow-y: hidden;
    padding: 0px;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background-color: white;
}
:root {
    --background-main-color: #0084FF;
}

.notification {
    top: 10px;
    display: flex;
    justify-content: center;
    z-index: 2;
}
#notification__all{
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999;
}
.notification__all{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    animation: notiface linear 0.4s, fadeOut linear 1s 3s forwards;
}
.toast__icon {
    font-size: 24px;
    padding: 0 16px;
    color: #47d864;
}
.toast__body {
flex-grow: 1;
}

.toast__title {
font-size: 16px;
font-weight: 600;
color: #333;
}

.toast__msg {
font-size: 14px;
color: #888;
margin-top: 6px;
line-height: 1.5;
}
@keyframes notiface {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}



.row-search:hover {
    background-color: #5B5C5C;
}

.content-search:hover {
    background-color: #5B5C5C;
}

.content-search {
    padding: 10px 15px 10px 5px;
    margin-top: 10px;
}

#suggesstion-box {
    color: #F1FFFF;
    width: 100%;
    background-color: #242526;
    border-radius: 3px;
}

.icon-search {
    background-color: #2F3031;
    color: #373D48;
    padding: 8px;
    margin-left: 10px;
    font-size: 18px;
    border-radius: 20px;
}

#text {
    overflow-x: hidden;
    font-size: 15px;
}

.row-search {
    padding: 7px 25px 7px 15px;
    position: relative;
}

.row-search a {
    color: #F1FFFF;
    text-decoration: none;
}

.title-search {
    padding-top: 10px;
    font-size: 15px;
    color: #828282;
    font-weight: bold;
}

.image-user-search {
    border-radius: 20px;
    margin-right: 10px;
}


/* Container top */
.img-logo {
    height: 45x;
    width: 100px;
    margin-top: 5px;
    margin-left: 30px;
    
}
.logo {
 display: flex;
 align-items: center;
}
.logo h4 {
    margin-top: 13px;
}

.container-top {
    position: relative;
    top: 0px;
    width: 100%;
    height: 8vh;
    /* background-image: linear-gradient(to right, #FF3F75, #1A70FE); */
    border-bottom: solid 0.1px #e1e2e4;
    box-shadow: 0px 0.2px 0px 0.2px #e1e2e4;
}

.user {
    position: absolute;
    right: 0px;
    top: 10px;
}

.user div {
    float: left;
}

.user-container {
    margin-right: 10px;
    border-radius: 30px;
    padding: 3px;
    margin-top: 2px;
}

.user .user-image {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-size: cover;
}

.user .user-image img {
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

.user .user-name {
    text-transform: capitalize;
    padding-right: 5px;
    padding-left: 7px;
    line-height: 30px;
    font-size: 14px;
    color: black;
}

.user .icon {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: #d5d6d8;
    margin-right: 10px;
}

.user-setting {
    cursor: pointer;
    position: relative;
}

.user__setting-container {
    display: none;
    position: absolute;
    top: 130%;
    left: -100%;
    z-index: 3;
    overflow: hidden;
    border-radius: 8px;
}

.user__setting-container {
    background-color: #d5d6d8;
    padding-left: 0;
    white-space: nowrap
}

.user__setting-item {
    border-bottom: solid 1px rgb(75, 74, 74);
    margin: 0 16px;
    padding: 8px 0;
    font-size: 14px;
    color: black;
    list-style: none;
}

.user__setting-item:last-child {
    border-bottom: none;
}

.container-model-face, .container-model-recognition  {
    display: none;
    transition: animationFace ease .4s;
}

.face__modal {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    transition: animationFace ease .4s;
    background-color: rgba(0, 0, 1, 0.5);
}

.face__container {
    transition: animationFace ease .4s;
    margin: auto;
    position: relative;
    background-color: #242526;
    padding: 16px 24px;
    border-radius: 8px;
    max-width: 400px;
}

.face_title {
    color: white;
    padding-bottom: 4px;
    margin-bottom: 10px;
    border-bottom: solid 1px rgb(88, 88, 88);
}

.face__close {
    position: absolute;
    color: white;
    font-size: 16px;
    right: 24px;
    top: 20px;
    cursor: pointer;
}

.face__intruction {
    color: white;
    font-size: 14px;
}

.face__confim,.face__confim-recog  {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.face__intruction--confim {
    margin-bottom: 0;
    padding-left: 7px;
}

.btn__face,.btn_recognition {
    border: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 4px 8px;
    background-color: white;
}

.face__button {
    position: relative;
}

.btn_face--hidden,.btn_recognition--hidden {
    position: absolute;
    background-color: currentColor;
    opacity: 0.3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.user .fas {
    display: flex;
    justify-content: center;
    line-height: 40px;
    font-size: 17px;
    color: black;
}

.user .hover:hover {
    background-color: #e7e9eb;
}


/* Container left */

.container-left {
    position: relative;
    width: 24.5%;
    /*380px*/
    height: 92vh;
    border-right: solid 0.2px #e1e1e1;
    box-shadow: 0px 0.5px 0px 0.5px #e1e1e1;
}

.container-listChat .title {
    position: relative;
    color: black;
    font-family: inherit;
    font-size: 24px;
    font-weight: bold;
    text-overflow: ellipsis;
    padding: 12px 0px 12px 0px;
    margin: 0px 15px 0px 15px;
}

.container-listChat .title .icon div {
    position: absolute;
    right: 0px;
    top: 12px;
    box-sizing: 30px;
    background-attachment: #232425;
}

.container-listChat .title .icon div i {
    font-size: 20px;
}

.container-listChat .search {
    position: relative;
    margin: 0px 15px 0px 15px;
}

.container-listChat .search input {
    background-color: #d5d6d8;
    border: none;
    width: 100%;
    height: 36px;
    font-size: 15px;
    border-radius: 30px;
    line-height: 40px;
    padding-left: 36px;
    padding-right: 16px;
    text-align: left;
    color: black;
    outline: none;
}

.container-listChat .search i {
    color: #818790;
    position: absolute;
    top: 10px;
    left: 12px;
}

.content-bottom {
    position: relative;
}

.container-right {
    position: absolute;
    top: 0px;
    width: 75.5%;
    right: 0px;
    height: 92vh;
}

.chat {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 66%;
    height: 92vh;
    position: relative;
}

.chat .top {
    align-items: center;
    display: flex;
    color: var (c);
    position: absolute;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    border-bottom: 0.5px solid #e1e2e4;
}

.chat .top img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin: 13px;
}

.chat .top .nameReceiver {
    letter-spacing: 0.5px;
    font-family: inherit;
    font-weight: bold;
    font-size: 17px;
    color: black;
}

.chat .top .activate {
    color: #91B3B8;
    font-size: 12px;
}

.chat .top .call {
    display: flex;
    position: absolute;
    right: 0px;
}

.chat .top .call div {
    margin: 12px;
    font-size: 20px;
}

.chat .bottom {
    position: absolute;
    bottom: 5px;
    width: 100%;
    display: flex;
}

.bottom div i {
    margin: 5px 2px 5px 3px;
    border-radius: 20px;
    color: #0084FF;
    padding: 8px;
    font-size: 22px;
}

.bottom div input {
    background-color: #d5d6d8;
    outline: none;
    border-radius: 20px;
    margin: 5px 2px 5px 3px;
    padding: 8px 20px 8px 15px;
    border: none;
    color: black;
    width: 100%;
}

.bottom .contentSend .containerImage {
    position: relative;
    position: absolute;
    bottom: 55px;
    margin-left: 30px;
}

.bottom .contentSend {
    width: 100%;
}

.bottom div i:hover {
    background-color: #e1e1e1;
}

.setting {
    overflow-y: scroll;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 34%;
    height: 92vh;
    border-left: 0.5px solid #e1e1e1;
}

.setting::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.setting .settingReceiver {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.setting .nameReceiver {
    padding-top: 10px;
    padding-bottom: 7px;
    letter-spacing: 0.5px;
    font-family: inherit;
    font-weight: bold;
    font-size: 17px;
    color: black;
}

.setting .activate {
    color: #91B3B8;
    font-size: 12px;
}

.setting .settingReceiver img {
    margin: auto;
    margin-top: 20px;
    height: 80px;
    width: 80px;
    border-radius: 40px;
}


/* ssdsdgsd */

.content-send .row .col-md-8 {
    padding-right: 0px;
    padding-left: 0px;
}

.content-send .row .col-md-8 input {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 1px;
    outline: none;
}

.content-send .row .col-md-1 {
    padding-left: 0px;
    padding-right: 0px;
}

.content-send .row .col-md-1 i {
    font-size: 25px;
    border-radius: 20px;
    padding: 7px;
    color: white;
}

.test {
    letter-spacing: 0.5px;
    color: black;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.test .item {
    padding: 11px 7px 11px 7px;
}

.test i {
    float: right;
}

.test .gird {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.test .gird img {
    padding: 1px;
    width: 33%;
    height: 120px;
}

.test .item:hover {
    background-color: #e1e1e1;
    border-radius: 5px;
}


/* aksjdaksjdn */

.addFriend {
    position: absolute;
    right: 10px;
    top: 8px;
}

.addFriend .friend {
    padding: 5px 7px 5px 7px;
    background-color: #2D88FF;
    border: none;
    color: #FFFFFF;
    border-radius: 3px;
    z-index: 1;
    outline: none;
    margin-left: 5px;
    display: none;
}

.addFriend div {
    display: none;
}

.addFriend div button {
    padding: 5px 7px 5px 7px;
    background-color: #2D88FF;
    border: none;
    color: #FFFFFF;
    border-radius: 3px;
    z-index: 1;
    outline: none;
    margin-left: 5px;
}

.content .right .message {
    background-color: var (--background-main-color);
    color: white;
    padding: 8px;
    margin-right: 10px;
    padding-left: 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    max-width: 50%;
}

.content .right .message-image {
    margin-right: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 250px;
    width: 400px;
}

.content .left .message-image {
    margin-right: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 250px;
    width: 400px;
}

.content .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content .left img {
    height: 28px;
    width: 28px;
    border-radius: 20px;
    margin: 5px;
}

.content .left .time {
    color: white;
    margin-left: 20px;
    display: none;
}

.content .right .time {
    color: white;
    margin-right: 20px;
    height: 100%;
    display: none;
}

.content .left .message {
    display: flex;
    background-color:#d5d6d8 ;
    color: black;
    text-align: left;
    padding: 8px;
    margin-left: 5px;
    padding-right: 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    max-width: 50%;
}

.content .left {
    display: flex;
    align-items: center;
}

.mid {
    height: 80%;
    overflow-y: scroll;
    margin-top: 5px;
    margin-bottom: 10px;
}

.list-conversation {
    margin-top: 15px;
    padding: 10px;
}

.list {
    display: flex;
    width: 100%;
    padding: 5px;
    color: white;
    border-radius: 5px;
}

.list .image {
    height: 56px;
    width: 56px;
    padding: 3px;
}

.list .image img {
    border-radius: 50px;
    width: 100%;
    height: 100%;
}

.list .content-conversation {
    margin-left: 10px;
    margin-top: 7px;
}

.list .name-conversation {
    width: 230px;
    height: 20px;
    overflow: hidden;
    font-size: 15px;
    font-weight: bold;
    color: black;
    letter-spacing: 0.2px;
}

.list .chat-conversation {
    font-size: 13px;
    color: #9B9EA3;
    width: 230px;
}

.list:hover {
    background-color: #e1e1e1;
    cursor: pointer;
}

.closeImage {
    position: absolute;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 5px;
    font-size: 10px;
}

.closeImage:hover {
    cursor: pointer;
}

#callreceiver {
    color: white;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-family: sans-serif;
}

@keyframes animationFace {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); */